<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- redirects blog/2016/03/post to /post. -->
        <rule name="LegacyBlogPostWithDate" stopProcessing="true">
            <match url="Blog/([0-9]+)/([_0-9]+)/(.*)" ignoreCase="true" />
            <action type="Redirect" url="/{R:3}" redirectType="Permanent" />
        </rule>
        <!-- make sure all the old blog links still work -->
        <rule name="LegacyBlogPost" stopProcessing="true">
          <match url="Blog/(.*)" ignoreCase="true"  />
          <action type="Redirect" redirectType="Permanent"  url="/{R:1}" appendQueryString="true" />
        </rule>
        <!-- make sure all the old blog links still work -->
        <rule name="LegacyBlogHomePage" stopProcessing="true">
          <match url="/Blog" ignoreCase="true"  />
          <action type="Redirect" redirectType="Permanent"  url="/" />
        </rule>
        <!-- for SEO the www is stripped from the URL. -->
        <rule name="CanonicalHostName." stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www\.(.+)$" />
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <!-- Existing ghost rules -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
